@import 'https://fonts.googleapis.com/css?family=Roboto';

* {
	padding: 0;
	margin: 0;
}
body {
	font-size: 16px;
	text-align: center;
	background: url("https://s3.postimg.org/ws0seqzlv/rotator_NFB3.jpg") no-repeat fixed center;
	font-family:'Roboto', sans-serif;
	background-size: cover;
}
header {
  text-align: left;
  padding: 20px;
}
h2 {font-size: 12px; 
}
a {
	color: #E861C3;
	font-family:'Roboto', sans-serif;
	text-decoration: none;
	text-transform: uppercase;
}
nav {
	text-align: right;
	padding: 15px;
}
footer { 
		position: 
		absolute;
		right: 0;
  		bottom: 0;
  		left: 0;

}

.navlinks{
	font-family: 'Roboto', sans-serif;
	font-size: 20px
	color: #E861C3;
	text-transform: uppercase;
	padding:10px;
	margin: 0 10px;
	border:none;
}
.mhtd{
	width: 30px;
    margin-right: 150px;
    margin-left: 500px;
}
